@charset "UTF-8";
/*The following code was taken from google fonts to import the following font*/
@import url('https://fonts.googleapis.com/css?family=Lobster&effect=fire-animation');
*{
	margin: 0;
	padding: 0;
}

/* nav stuffs*/

 .dropdown ul{
	display:none;
}

nav  li{
	list-style: none;
    }
nav{
      width: 100vw;
      /*The following code for position was taken from 
      https://css-tricks.com/almanac/properties/p/position/*/
      position:fixed;
      /* position:absolute; */
      /* z-index:3000; */
}    
nav  a, nav .dropdown{
      float: left;
      border-right: #4dd solid 1px;
      border-collapse: collapse;
      
      /* padding: 1px; */
      width: calc(100%/5 - 1px);
      list-style: none;
      display: block;
      text-align: center;
      
      color: #add;
      background-color: #044;
      font-size: 20px;
      font-weight: bold;
      position: relative;
      text-decoration: none;

}
nav a:hover{
      color: #044;
      background-color: #add;
      
}
nav a:active{
      box-shadow: rgba(11,11,11,.5) 10px  5px 20px;
      text-shadow: rgba(40, 40, 40, .4) 5px 2.5px 2px;
}
/* dropdown menu effects, css is (partially) taken from 
https://csswizardry.com/2011/02/creating-a-pure-css-dropdown-menu/ 
I also used w3schools for some more inspiration, but I didn't like how the w3schools nav bar 
was set up using only divs
*/

nav ul{
	background-color: rgba(255,255,255,0);
	
	display:none;
	
}
nav ul a{
	float:none;
	
	border:none;
	width:100%;
	text-align: center;
	/* 
	padding-top:1px; */
}
	


.dropdown:hover ul{
	display:block;
	
	clear:both;
	border:none;
	margin-top:4px;
	margin-bottom:4px;
	/* These were for testing if this code was reached
	background-color:fuchsia;
	text-size:1000px;
	line-height:1000px; */
}


/*end nav stuffs*/
 
 header{
 	/* background-color:yellow; */
 	
 	width:100%;
 	clear:both;
 	
 }

 h1 {
	text-align: center;
	margin:auto;
	clear:both;
	padding-top:30px;
	/* font-effect: fire-animation; */
	/* margin-top:20px; */
	
}
h1, h2{
	font-family: 'Lobster', cursive, impact;
}
body{
	background-color:#eff;
	color:#033;
	
}
footer{
	text-align:center;
}
#content, footer{
	clear:both;
	overflow:auto;
	width:85vw;
	/* background-color:#cee; */
	background-attachment: fixed; 
	background-image: radial-gradient(#dff, #bdd);
	border:#033 solid 2px;
	margin:auto;
	margin-top:5px;
	padding:10px;
	/*-moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
box-shadow: 1px 2px 3px rgba(0,0,0,.5);
	box-shadow: 1px 2px 3px rgba(0,0,0,.5);*/
}

#content p{
	/* This was redundant.
	color:#033; */
	margin:auto;
	padding:10px;
	font-size:20px;
	margin:2px;
	/* 
	background-color: #500; */ 
}
.r{
	float:right;
}
.l{
	float:left;
	margin-right:8px;
}
img, iframe{
	width:30%;
	margin:5px;
}
h2{
	clear:both;
}
.italics{
	font-style: italic;
}
embed {
	width: 85vw;
/* 	height: calc(.618*85vw); */ 
	height: 90vh;
	margin-top:5px;
	margin-bottom:5px;
}
#screenshot, #screenshot2 {
	max-width:300px;
}
.linebreak{
	clear: both;

}

