@charset "UTF-8";

 
 header{
 	/* background-color:yellow; */
 	background-image: url("images/Windsurf_Jibe_Bonaire.JPG");
 	background-repeat:no-repeat;
 	background-size:100% 100%;
 	width:100%;
 	height:100vh;
 	
 	clear:both;
 	
 }
 #spacer{
 	/* clear: both; */
 	height:10vw;
 }
 h1 {
	text-align: center;
	margin:auto;
	width:35vw;
	/* font-size:3vw; */
	
	
	/* clear:both; */
	/* margin-top:300px; */

}




#greece{
	/* border:#033 solid 2px; */
	padding:5px;
	
	float:right;
	margin:2px;
	text-align:center;
	width:30%;
	background-color:#add;
	background-image: radial-gradient(#244,#add);

}
#greece img{

	margin:auto;
	width:90%;
}

